@model AdminDetailsViewModel

@{
    ViewBag.Title = "Issue Details";
}


<h3>@Model.PageTitle</h3>
<div>
    Location : @Model.Issue.Street ,@Model.Issue.Place ,@Model.Issue.District
</div>
<div>
    Issue: @Model.Issue.Subject
    <br />
    <p> @Model.Issue.IssueDetails</p>
</div>