@model IEnumerable<Issue>

@{ 
    ViewBag.Title = "Issues List";
}

<div class="card-deck">
    @foreach (var issue in Model)
    {
        <div class="card text-info bg-dark m-3">
            <div class="card-header text-center">
                <h3>@issue.Subject</h3>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="admin" asp-action="details" asp-route-id="@issue.ID" class="btn btn-primary">View</a>
            </div>
        </div> 
    }
</div>
 