@model IEnumerable<Hello_Sarkar.Models.Issue>

@{ 
    ViewBag.Title = "Issues List";
}

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>District</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var issue in Model)
                {
                    <tr>
                        <td>@issue.ID</td>
                        <td>@issue.Subject</td>
                        <td>@issue.District</td>
                    </tr>
                }
            </tbody>
        </table>
 